// Variables

// Colors
$grey: #f2f2f2;
$not-so-dark-grey: #d9d9d9;
$dark-grey: #a79b9b;
$primary-green: #6bd400;
$primary-dark-green: #5cb204;
$white: #ffffff;
$black: #000000;
$error: rgba(209, 21, 21, 0.904);
// Font Sizes
$font-base: 14px;
$font-sm: 12px;
$font-lg: 18px;

// Breakpoints
$phone-only: max-width 599px;
$tablet-up: 600px;
$tablet-landscape-up: 900px;
$desktop-up: 1200px;
